<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="icon" type="image/x-icon" class="js-site-favicon" href="https://assets-cdn.github.com/favicon.ico">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <!-- CSS -->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/print.min.css" media="print">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.min.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.min.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.min.css">
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end -}}

  {{ partial "hook_head_end.html" . }}

  <!-- Highlight -->
  <link rel="stylesheet" href="{{"css/github.css" | absURL}}" rel="stylesheet" id="theme-stylesheet">
  <script src="{{ "js/highlight.pack.js" | absURL }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
