{{ define "main" -}}
<div class="posts" role="main">
{{ range $i, $e := (where .Site.RegularPages "Section" "post")  }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  {{ .Date.Format "Mon, Jan 2, 2006" }} &ndash;
  {{ if .Params.Summary }}
    {{ .Params.Summary | markdownify }}
  {{ else }}
    {{ .Summary }}
  {{ end }}
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</div>
{{- end }}
</div>
{{- end }}
